.header {
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid #2F3E77;
    height: 5rem;
}

.header img {
    width: 13.5rem;
    height: 4rem;
}

.imgBox {
    display: flex;
    align-items: center;
}

.infoBox>span {
    font-weight: bold;
    font-size: 1.2rem;
}

.infoBox button {
    border: none;
    background: none;
    cursor: pointer;
}