.headButton{
    margin: 0.5rem;
    display: flex;
    flex-direction: row-reverse;
}

.unitSelectArea{
    display: flex;
}

.unitSelectArea > :nth-child(1), 
.unitSelectArea > :nth-child(2){
    width: 50%;
}

.bottomMargin{
    margin-bottom: 1rem;
}